<!DOCTYPE html>
<html lang="nl" class="h-full bg-gray-100">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://unpkg.com/unpoly@2.5.2/unpoly.min.css">
  <link rel="stylesheet" href="/static/style.css">

  <!--<script src="https://unpkg.com/unpoly@2.5.2/unpoly.min.js"></script>-->
  {% endblock %}
</head>

<body class="h-full">
  <div class="min-h-full">
    {% block top_nav %}{% endblock %}
    {% block header %}
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">{% block header_title %}{% endblock %}</h1>
      </div>
    </header>
    {% endblock %}
    <main>
      <div class="max-w-7xl mx-auto py-6">
        <div class="px-2 py-6 sm:px-0">
          {% block main %}{% endblock %}
        </div>
      </div>
    </main>
    {% block footer %}{% endblock %}
  </div>
  {% block footer_scripts %}{% endblock %}
</body>

</html>